---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Rogue Wave Design</title>
	</head>

	<body>
		<h1>Rogue Wave Design</h1>
		<div class="button-section">
			<a
				href="https://www.figma.com/proto/1MmM6BhTuGAfDLtEHPbrF4/Rogue-Wave-Design?page-id=28%3A6651&node-id=28-6652&viewport=106%2C673%2C0.22&t=ioGdFxbGTy4NEtUo-1&content-scaling=fixed&starting-point-node-id=28%3A6652&hide-ui=1&hotspot-hints=0&scaling=scale-down-width"
				class="btn btn-primary"
			>
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none">
					<path
						d="M8 1.5L14 8L8 14.5M2 8H14"
						stroke="currentColor"
						stroke-width="1.8"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
				Enter Desktop Site
			</a>

			<a
				href="https://www.figma.com/proto/1MmM6BhTuGAfDLtEHPbrF4/Rogue-Wave-Design?page-id=28%3A6651&node-id=28-6845&viewport=106%2C673%2C0.22&t=ioGdFxbGTy4NEtUo-1&content-scaling=fixed&starting-point-node-id=28%3A6845&hide-ui=1&hotspot-hints=0&scaling=scale-down-width"
				class="btn btn-primary"
			>
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none">
					<path
						d="M8 1.5L14 8L8 14.5M2 8H14"
						stroke="currentColor"
						stroke-width="1.8"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
				Enter Mobile Site
			</a>
		</div>
	</body>
</html>
